'scopeName': 'source.views'
'name': 'Views'
'fileTypes': ['view', 'data']
'patterns': [
  # block name
  {
    'match': '^([A-Z][a-zA-Z0-9]*\\s*)$'
    'name': 'views.block.keyword'
  }
  {
    'match': '^([A-Z][a-zA-Z0-9]*)\\s+.+$'
    'captures':
      '1':
        'name': 'views.block.keyword'
  }
  ## user comment
  {
    'match': '^##.+$'
    'name': 'views.userComment'
  }
  # comment
  {
    'match': '^#.+$'
    'name': 'views.comment'
  }
  {
    'match': '^onWhen <[a-z][a-zA-Z0-9]*$'
    'name': 'views.onWhen.function'
  }
  {
    'match': '^onWhen <[a-z][a-zA-Z0-9]*$'
    'name': 'views.onWhen.function'
  }
  {
    'match': '^when <[a-z][a-zA-Z0-9]*$'
    'name': 'views.when.function'
  }
  {
    'begin': '^[a-z][a-zA-Z0-9]*\\s*'
    'end': '$'
    'patterns': [
      # props
      {
        'match': '<([a-z][a-zA-Z0-9]*)?'
        'captures':
          '0':
            'name': 'views.slot.function'
      }
      {
        'match': '.+$'
        'name': 'views.value.string'
      }
    ]
  }
]
